div.textContainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;

    span.heading{
        font-size:36px;
        font-weight:bolder;
        margin-bottom:15px;
    }
    
    span.smallTxt {
        font-size:15px;
        font-weight:600;
        margin-top:10px;
        margin-bottom:20px;

        a{
            text-decoration : none;
            color: #9484FF;
        }
    }
}
  
